body{
  background-color: #151515;
}

.container{
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.explorer-box{
  width: 40%;
  height: 50px;
  border: 1px solid #8b8b8b;
  border-radius: 5px;
}


